.projectboard-wrapper::-webkit-scrollbar {
  width: 8px; /* thickness */
}

.projectboard-wrapper::-webkit-scrollbar-track {
  background: transparent; /* background behind scrollbar */
}

.projectboard-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color, #999);
}

.projectboard-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color, #666);
}

/* Firefox */
.projectboard-wrapper {
  scrollbar-width: thin; /* "auto" | "thin" */
  scrollbar-color: var(--secondary-color, #999) transparent;
}

.projectboard-wrapper {

    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--main-color);

    height: 100vh;
    width: calc(100vw - 82px);

    padding-top: calc(80px + 40px);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;

    transition: background 0.2s, color 0.2s, width 0.3s ease;
}

.projectboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  row-gap: 40px;
  column-gap: 40px;
}

.projectboard-grid a {
  text-decoration: none;
  color: var(--secondary-color);
}

.projectboard-grid a:visited {
  color: var(--secondary-color);
}

.projectboard-box {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--primary-color);
  border: 2px solid var(--secondary-color);
  padding: 20px;
}

.projectboard-box-content {
  flex: 1; 
}

.projectboard-box-title {
  margin: 0;
}

.projectboard-footer {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.projectboard-footer a {
  text-decoration: none;
  color: var(--secondary-color);
  box-shadow: inset 0 -2px 0 transparent;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.projectboard-footer a:hover {
  box-shadow: inset 0 -2px 0 var(--secondary-color);
}